body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 20px;
}

ul {
    font-size: 15px;
}
