body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 250px;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 20px;
    margin-top: 200px;
}

ul {
    font-size: 15px;
    background-color: coral;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
    border-color: brown;
}
