html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
    height: auto;
}
body {
    background-color: black;
    font-family: 'Finlandica', sans-serif;
    color: white;
    display:flex;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}

.LeftColumn {
    background-color: grey;
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 20px;
    width: 176px;
}

.CV {
    font-size: 10px;
    width: 137px;
    padding-top: 14px;
}

.Contacts {
    font-size: 7px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.Mail {
    display: flex;
    padding-bottom: 10px;
}
.Mail-text {
    display: block;
    padding-left: 8px;
}

.Site {
    display: flex;
    padding-bottom: 10px;
}

.Site-text {
    display: block;
    padding-left: 8px;
}

.Phone {
    display: flex;
}

.Phone-text {
    display: block;
    padding-left: 8px;
}

.Socials {
    font-size: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.Instagram {
    display: flex;
    padding-top: 10px;
}

.Instagram-text {
    display: block;
    padding-left: 8px;
    padding-bottom: 10px;
}

.HH {
    display: flex;
}

.HH-text {
    display: block;
    padding-left: 8px;
    padding-bottom: 10px;
}

.Telegram {
    display: flex;
}

.Telegram-text {
    display: block;
    padding-left: 8px;
}

.Lang {
    font-size: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.Rus {
    display: flex;
    padding-top: 10px;
}

.Rus-text {
    display: block;
    padding-left: 8px;
    padding-bottom: 10px;
}

.Eng {
    display: flex;
}

.Eng-text {
    display: block;
    padding-left: 8px;
}

.Hobbies {
    font-size: 8px;
    padding-top: 14px;
}

.Games {
    display: flex;
    padding-top: 10px;
    padding-bottom: 8px;
}

.Games-text {
    display: block;
    padding-left: 8px;
}

.Music {
    display: flex;
    padding-bottom: 8px;
}

.Music-text {
    display: block;
    padding-left: 8px;
}

.Pets {
    display: flex;
    padding-bottom: 14px;
}

.Pets-text {
    display: block;
    padding-left: 8px;
}

.Details {
    font-size: 8px;
}

.Mother {
    font-size: 7px;
    padding-top: 6px;
}

.Father {
    font-size: 7px;
    padding-top: 6px;
}

.DOB {
    font-size: 7px;
    padding-top: 6px;
}

.RightColumn {
    width: 414px;
    height: 842px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.MainH {
    padding-left: 7px;
    padding-top: 58px;
    font-size: 20px;
}

.MainText {
    padding-top: 50px;
    display: inline-flex;
}

.Divider {
}

.Tools {
    display: block;
    padding-bottom: 16px;
}

.ToolsText {
    display: flex;
    width: 342px;
    font-size: 7px;
    color: black;
    height: 64px;
}

.HTML5 {
    background-color: white;
    width: 82.5px;
    border: 2px solid black;
    border-radius: 6px 0px 0px 6px;
    text-align: center;
}

.CSS3 {
    background-color: white;
    width: 82.5px;
    border: 2px solid black;
    text-align: center
}

.VSCODE {
    background-color: white;
    width: 82.5px;
    border: 2px solid black;
    text-align: center
}

.Github {
    background-color: white;
    width: 82.5px;
    border: 2px solid black;
    border-radius: 0px 6px 6px 0px;
    text-align: center
}

.Projects {
    padding-top: 22px;
}